@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color:#ffffff ;
    --button-hover-background-color: #dd2525;
    --link-background-color: #db5f5f;
    --link-hover-background-color: #e29090;
   
}

h1,p{
    padding: 0;
    margin: 0;
}



 body{
    background-color: rgb(90, 192, 218);
    color: rgb(20, 5, 5);
    font-family: 'Poppins', sans-serif;
      padding: 0rem;
      margin: 0rem;

}

 a {
    text-decoration: none;
    color: white;
}

.heading {
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem;

}

.question-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
   margin-bottom: 3rem;
   padding: 0.5rem 1rem;
    gap: 1.5rem; 
}

.question {
    background-color: var(--link-background-color);
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}
.question:hover {
    background-color: var(--link-hover-background-color);
}

.question span {
    color: var(--primary-color);
    font-weight: 500;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.3rem 0;
}
.link {
    background-color: var(--primary-color);
    margin: 0.2rem 0.5rem;
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
    color: black;
    font-weight: 500;
}
.link:hover {
    background-color: var(--button-hover-background-color);
}
.link-code {
    background-color: var(--link-background-color);
    color: white;
    border: 2px solid var(--primary-color);
}
.link-code:hover {
    background-color: rgb(233, 17, 17);
}


@media (max-width:425px) {
    .question {
        font-size: 1.1rem;
    }
}

@media (max-width:380px) {
    .link-container > .link {
        width: 100%;
        text-align: center;
    }
}


/* button {
    padding: 0.2rem 0.8rem;
    margin: 0 0.3rem;
    font-size: 1rem;
} 

#pull-request {
    font-size: 1.2rem;
    max-width: 900px;
    padding: 0 1rem;
}  

 */












